* {
    padding: 0;
    margin: 0;
}

.layout {
    display: grid;
    grid-template: auto 1fr auto;
}

header {
    display: grid;
    grid-template-rows: auto auto;
}

.header-content {
    min-height: 15vh;
    background-color: #333;
    color: #eee;
    padding: 1rem;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
	align-items: center;
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation li {
	flex: 1 1 auto; 
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 50vh;
}

.main-content {
    background-color: #afaeae;
    padding: 1rem;
}

.aside-content {
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: #333;
    color: #eee;
    padding: 1rem;
    min-height: 15vh;
}

